Checks:
  - bugprone-*
  - concurrency-*
  - cppcoreguidelines-*
  - google-*
  - misc-*
  - modernize-*
  - performance-*
  - portability-*
  - readability-*
  - -google-readability-todo
  - -portability-avoid-pragma-once
  - -bugprone-easily-swappable-parameters
WarningsAsErrors: "*"
HeaderFilterRegex: ".*"
UseColor: false
CheckOptions:
  misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: true
